[Desktop Entry]
Type=Application
Name=SteamOS ARM desktop portal fix
Exec=/usr/lib/steamos-arm/desktop-portal-fix
OnlyShowIn=KDE;
NoDisplay=true
X-KDE-autostart-phase=1
