[Unit]
Description=Fixes for Decky store plugins that break on this Steam client
Before=plugin_loader.service

[Service]
Type=oneshot
ExecStart=/usr/lib/steamos-arm/decky-plugin-fixes

[Install]
WantedBy=multi-user.target
